<div class="container ">
  <div class="form-box justify-content-center">
    <div class="login-container">
      <div class="login-title">
        <h1 style="margin:0">Sign Up</h1>
      </div>
      <div class ="login-box">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      placeholder: "Email*",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :first_name,
                      label: false,
                      placeholder: "First Name*",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first name" }%>
          <%= f.input :last_name,
                      label: false,
                      placeholder: "Last Name*",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last name" }%>
          <%= f.input :birthday,
                      label_html: { :id => 'birthday' },
                      label: 'Birthday*',
                      start_year: Time.now.year - 100,
                      end_year: Time.now.year - 10,
                      order: %i(day month year),
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "birthday" }%>
          <%= f.input :bio,
                      label: false,
                      placeholder: "Bio",
                      input_html: { autocomplete: "Write something about yourself", maxlength: 140},
                      hint: "maximum of 140 characters"%>
          <%= f.input :location,
                      label: false,
                      placeholder: "Location*",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "location" }%>
          <%= f.input :password,
                      label: false,
                      placeholder: "Password*",
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: false,
                      placeholder: "Repeat Password*",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn-login-form" %>
        </div>
        <% end %>
        <p style="color: #888888; font-size: 14px; text-align: center; margin-bottom: 0;">Already have an account?</p>
        <%- if controller_name != 'sessions' %>
        <%= link_to "LOG IN", new_session_path(resource_name), class:"sign-up-link" %><br />
        <% end %>

      </div>
    </div>

  </div>
</div>

