<%= simple_form_for(@user_values), :method => 'post' do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :name, as: :radio_buttons %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
