<%= simple_form_for @user_value, :method => 'post' do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.association :value, as: :check_boxes,  input_html: { class: "value-selector" }, item_wrapper_class: 'value-item' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
