<% location = current_user.location %>
<% events = Event.where(location: location) %>

<div class = "show-page-banner" style="background-image: url(<%= cl_image_path events[0].photo.key %> )">
<h1 class= "location-header"><%= events[0].location %> </h1>
</div>

<div>
  <% events.each do |event| %>
  <p><%= event.date %></p>
  <p><%= event.description %></p>
  <% if  %>
    <%= event.users.count >= event.max_participants %>
    <p>booked</p>
  <% else %>
      <p><%= event.max_participants - event.user.count %></p>
  <% end %>
</div>

