<div class = "show-page-banner" style="background-image: url(<%= cl_image_path @event.photo.key %> )">
<h1 class= "location-header"><%= @event.location %> </h1>
</div>



 <div class = "container">
  <div class = "subheader">
    <% if @event.date < DateTime.current + 1 %>
        <h1>You took part in this event!</h1>
        <h3 class="text-left p-0"><%= @event.date.to_time.strftime('%B %e at %l:%M %p') %></h3>
        <h5>Get in touch with your new friends</h5>
      <% else %>
        <h1>Book your spot in this event!</h1>
        <h3 class="text-left p-0"><%= @event.date.to_time.strftime('%B %e at %l:%M %p') %></h3>
        <h5>Get ready to meet beautiful people in your area</h5>
      <% end %>
  </div>




  <div class= "show-page-card-grid">
    <% @event.users.each do |user| %>
      <div class= "show-page-card">
        <div class="left-side-show-page-card">
          <div class= "show-page-card-image" style="background-image: url(<%= cl_image_path user.avatar.key %>)"></div>
          <p><%= user.first_name %>, <%= ((Time.zone.now - user.birthday.to_time) /1.year.seconds).floor %> <p>
        </div>
        <div class= "right-side-show-page-card">
          <ul class= "value-list">
          <% user.core_values.each do |core| %>
            <% value = Value.find(UserValue.find(core).value_id) %>
            <div class="value-item-heart">
              <i class="fas fa-heart"></i><li class= "value-item"><%= value.name %></p>
            </div>
          <% end %>
          </ul>
          <% if @event.date < DateTime.current + 1 %>
            <a class="btn-red d-flex" href=""> Contact</a>
          <% else %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
