
<div class="container">

<!-- profile card -->
  <div class="d-flex profile-card">
    <div class="justify-content-center">
      <% if current_user.avatar.attached? %>
        <%= link_to edit_user_registration_path do %>
          <div class="avatar-big" style="background-image: url(<%= cl_image_path current_user.avatar.key%>">
          <p class="avatar-big-link-text"><i class="fas fa-user-edit"></i></p>
          </div>
        <% end %>
      <% else %>
        <%= link_to edit_user_registration_path do %>
          <div class="avatar-big" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png'">
          <p class="avatar-big-link-text"><i class="fas fa-user-edit"></i></p>
          </div>
        <% end %>
      <% end %>
      <div class="name-location">
        <h6 style="margin: 0px;"><%= current_user.first_name %>, <%= ((Time.zone.now - current_user.birthday.to_time) /1.year.seconds).floor %></h6>
        <div>
          📍<%= current_user.location %>
        </div>
      </div>
    </div>
    <div class="value-card">
      <h6 style="margin-bottom: 15px;">My Core Values </h6>
      <ul class="value-list">
        <% current_user.core_values.each do |core| %>
          <% value = Value.find(UserValue.find(core).value_id) %>
          <div>
            <i class="fas fa-heart"></i><li class= "value-item"><%= value.name %></li>
          </div>
        <% end %>
      </ul>
      <%= link_to "To Value Test", values_path, class: "btn-red justify-content-center", id: "dashboard-value-button" %>
    </div>
  </div>
</div>


<!--   <% current_user.user_interests.each do |user_interest| %>
              <% test = Interest.find(user_interest.interest_id)%>
              <%= test.name %>
          <% end %> -->
