

<div class="container">

<!--   profile card  -->

  <div class="row" id = "profile-card-dashboard">
    <div class="col-sm" id = "profile-left">
      <% if current_user.avatar.attached? %>
        <div class="avatar-big" style="background-image: url(<%= cl_image_path current_user.avatar.key %>)"></div>
      <% else %>
        <div class="avatar-big" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png')"></div>
      <% end %>
    </div>
    <div class="col-sm" id = "profile-middle">
      <h2><%= current_user.first_name %>, <%= ((Time.zone.now - current_user.birthday.to_time) /1.year.seconds).floor %></h2>
      <h5>📍 <%= current_user.location %></h5>
      <%= link_to "Find event", events_path, class: "btn-red event-card-button", id: "dashboard-event-button" %>
    </div>
    <div class="col-3" id = "profile-right">
      <h3>My Core Values </h3>
      <ul class= "value-list" id="value-list-dashboard">
        <% current_user.core_values.each do |core| %>
          <% value = Value.find(UserValue.find(core).value_id) %>
          <div class="value-item-heart">
            <i class="fas fa-heart"></i><li class= "value-item"><%= value.name %></li>
          </div>
        <% end %>
      </ul>
      <%= link_to "Take value test", values_path, class: "btn-red event-card-button d-flex justify-content-center", id: "dashboard-value-button" %>
    </div>
  </div>

<!--   profile details -->

  <h2 class="dashboard-row-headers">About me...</h2>
  <div class="row justify-content-center row-interests">
    <div class="col col-interests" id = "personailty-type">
      <div class = "inner-box">
        <h3>Personality Type</h3>
      </div>
      <h1>ESFP-A</h1>
    </div>
    <div class="col col-interests" id = "interests">
      <div class = "inner-box">
        <h3>Interests</h3>
      </div>
        <div class="emoji-triggers d-flex justify-content-center">
          <% @interests.each_with_index do |interest, index| %>
            <%= form_with url: user_interest_set_path(index), remote: true do |f| %>
              <button class="emoji-trigger" data-interest-index="<%= index %>"><%= interest %></button>
              <input type="hidden" value="<%= interest %>" name="name" class="emoji-value-<%= index %>">
            <% end %>
          <% end %>
        </div>

    </div>
    <div class="col col-interests" id = "bio">
      <div class = "inner-box">
        <h3>Bio</h3>
      </div>
    </div>
  </div>

<!--   upcoming events -->

  <h2 class="dashboard-row-headers">Your upcoming Events...</h2>
  <div class="row justify-content-center row-interests">
 <% current_user.events.each do |event| %>
    <div class="col col-interests" id = "personailty-type">
      <div class = "inner-box">
        <h3><%=event.date.to_time.strftime('%B %e at %l:%M %p') %></h3>
      </div>
      <h1>ESFP-A</h1>
    </div>
    <% end %>


  </div>


<% current_user.events.each do |event| %>
  <div class="card-bookings d-flex">
    <div class="card-event">
      <h3><%= link_to event.location, event_path(event) %></h3>
      <p><%=event.date.to_time.strftime('%B %e at %l:%M %p') %></p>
    </div>
    <% end %>
      <div class="card-more-events">
      <h3>Add More</h3>
      <p>+</p>
    </div>
  </div>
<!--   past events -->

 <!--  <h2 class="dashboard-row-headers">Your past Events...</h2>
  <div class="row justify-content-center row-interests">
    <div class="col col-interests" id = "personailty-type">
      <div class = "inner-box">
        <h3>Personality Type</h3>
      </div>
      <h1>ESFP-A</h1>
    </div>
    <div class="col col-interests" id = "interests">
      <div class = "inner-box">
        <h3>Interests</h3>
      </div>
    </div>
    <div class="col col-interests" id = "bio">
      <div class = "inner-box">
        <h3>Bio</h3>
      </div>
    </div>
  </div> -->

