
<div class="container">

<!-- profile card -->
  <div>
    <div class="d-flex profile-card">
      <% if current_user.avatar.attached? %>
        <%= link_to edit_user_registration_path do %>
          <div class="avatar-big" style="background-image: url(<%= cl_image_path current_user.avatar.key%>">
          <p class="avatar-big-link-text"><i class="fas fa-user-edit"></i></p>
          </div>
        <% end %>
      <% else %>
        <%= link_to edit_user_registration_path do %>
          <div class="avatar-big" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png'">
          <p class="avatar-big-link-text"><i class="fas fa-user-edit"></i></p>
          </div>
        <% end %>
      <% end %>
      <div class="name-interests justify-content-center">
        <div style="font-size: 20px;">
          <strong>
            <%= current_user.first_name %>,
            <%= ((Time.zone.now - current_user.birthday.to_time) /1.year.seconds).floor %>
          </strong>
        </div>
        <div>
          <%= current_user.location %> 📍
        </div>
        <div>
          <% current_user.user_interests.each do |user_interest| %>
              <% test = Interest.find(user_interest.interest_id)%>
              <%= test.name %>
          <% end %>
        </div>
    </div>
    <div class="col col-interests" id = "bio">
      <div class = "inner-box">
        <h3>Bio</h3>
      </div>
      <div>
        <p id="bio-text"><%=current_user.bio%></p>
      </div>
    </div>
  </div>
</div>
